.default-input-container {
  position: relative;
  .default-input {
    background: #232129;
    border-radius: 10px;
    border: 2px solid #232129;
    padding: 16px;
    padding-left: 40px;
    width: 100%;
    margin-bottom: 8px;
    color: #f4ede8;

    &::placeholder {
      color: #666360;
    }
  }

  svg {
    color: #666360;
    position: absolute;
    bottom: 0px;
    text-align: center;
    vertical-align: center;
    display: inline-block;
    font-size: 1.5em;
    top: 16px;
    left: 10px;
  }
  svg.focused {
    color: #ff9000;
  }
}
.default-input-container.focused {
  .default-input {
    color: #ff9000;
    border: 2px solid #ff9000;
  }
}
